
Makefile.cfg
.cproject
.settings/language.settings.xml
.settings/org.eclipse.cdt.codan.core.prefs
.settings/org.eclipse.cdt.core.prefs
.settings/org.eclipse.embedcdt.debug.gdbjtag.jlink.core.prefs
.cproject
project.emSession
.DS_Store
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log
